.bili-container {
  max-width: 2000px;
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(141, 24, 24, 0.1);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  gap: 1.5rem;
}

.bili-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: fit-content;
  margin: auto;
}

@media (min-width: 768px) {
  .bili-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.bili-wrapper {
  display: inline-block; /* wrap content */
}

.bili-input {
  width: 100%;
  max-width: 300px;

  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fdfdfd;
}

.bili-info {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(98, 91, 91, 0.1);
  border-radius: 8px;
  background-color: #fdfdfd;
  font-size: 0.9rem;
}
